@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}


input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.css-1okebmr-indicatorSeparator {
  display: hidden  !important;
}

.css-17mg6aq{
  border: none;
}

input {accent-color: black;}


.wishlist{
  position: absolute;
  bottom: 0;
  right: 0;
}

input {
  box-shadow: 0;
  outline: 0;
}

input[type=number] {
  border: 1px solid #ddd;
  /* text-align: center; */
  /* font-size: 1.6em; */
  appearance: textfield;
  -moz-appearance: textfield;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  appearance: textfield;
  -webkit-appearance: none;
}
/* input[type=number]:invalid, */
/* input[type=number]:out-of-range { */
  /* border: 2px solid #ff6347; */
/* } */

input[type=range] {
  box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 330px;
  margin: 0;
  padding: 0 2px;
  /* Add some L/R padding to ensure box shadow of handle is shown */
  overflow: hidden;
  border: 0;
  border-radius: 1px;
  outline: none;
  background: linear-gradient(grey, grey) no-repeat center;
  /* Use a linear gradient to generate only the 2px height background */
  background-size: 100% 2px;
  pointer-events: none;
}

input[type=range]:active,
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-thumb {
  height: 28px;
  width: 28px;
  border-radius: 28px;
  background-color: #fff;
  position: relative;
  margin: 5px 0;
  /* Add some margin to ensure box shadow is shown */
  cursor: pointer;
  -webkit-appearance: none;
          appearance: none;
  pointer-events: all;
  box-shadow: 0 1px 4px 0.5px rgba(0, 0, 0, 0.25);
}
input[type=range]::-webkit-slider-thumb::before {
  content: ' ';
  display: block;
  position: absolute;
  top: 13px;
  left: 100%;
  width: 2000px;
  height: 2px;
}

@media (min-width: 1024px) {
  input[type=range] {
    width: 130px !important;
  }
 }


.swiper-pagination-bullet-active{
  background-color: black !important;
}

.banner .swiper-pagination {
  bottom: -17px !important;
}

.banner .swiper-pagination-bullet{
  background-color: white !important;
  border-radius: 0 !important;
  border: 4px solid black !important;
  width: 20px !important;
  height: 20px !important;
  opacity: 1 !important;
}

.banner .swiper-pagination-bullet-active {
  background-color: black !important;
}

.swiper-horizontal>.swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal {
  height: 1px !important;
}

.swiper-scrollbar-drag {
  background-color: black !important;
}

.swiper-button-next, .swiper-button-prev{
  width: 20px !important;
  height: 20px !important;
  color: white !important;
  background-color: black !important;
  right: 0 !important;
  /* left: 0 !important; */
}

.swiper-button-prev{
  left:  0 !important;
}

.swiper-button-next:after, .swiper-button-prev:after {
  font-size: 1rem !important;
}


.flag{
  background-image: url('/usa.svg');
  background-position: center;
  background-size: 50px;
}